body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

/* page styling */
#main {
  margin: 0;
  padding-left: 135px;
  padding-right: 0;
}

/*top left conby logo positioning*/
#logo1 {
  width: 145px;
  height: 42px;
  margin-top: 29px;
}

/* profile.html */
#uploadpic {
  margin-top: 22px;
}

#uploadpic button {
  margin-top: 35px;
  padding-left: 10px;
  border-radius: 40px;
  width: 198px;
  height: 50px;
}

#uploadpic button:hover {
  color: white;
}

/*h1 styling for most pages*/
.main,
.main-profile {
  padding-top: 91px;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #0e2445;
}

.main-profile {
  padding-top: 90px;
}

/* h1 styling for PROFILE */
.new-sect {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #0e2445;
}

/*paragraph styling*/
#main p {
  padding-top: 12px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #586a86;
}

/* google button styling */
#main .google {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: 1px solid #ccd3dd;
  border-radius: 50px;
  display: block;
  box-sizing: border-box;

  /* text styling inside button*/
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #0e2445;
}

/* placing google logo besides text inside button */
#logo2 {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

/* positioning divider */
#divider {
  /* width: 100%; */
  padding-top: 25px;
  margin: 0;
  align-items: center;
}

/* styling text in the middle of divider */
#div-text {
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #586a86;
}

/* styling horizontal line */
hr {
  border: 1px solid #ccd3dd;
  border-radius: 3px;
}

/* styling hr tag, only PROFILE as target */
#hr-profile {
  margin: 25px 0;
}

/* styling labels */
.label,
.label-profile {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #0e2445;
}

/* styling label tag, only PROFILE as target */
.label-profile {
  margin-top: 30px;
}

/* emphasizing requirements */
.required {
  color: #ed4242;
}

/* styling input box */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
  display: block;
  width: 100%;

  padding: 19px 30px;
  border: 1px solid #ccd3dd;
  box-sizing: border-box;
  border-radius: 50px;

  /* styling text inside input box */
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #586a86;
}

/* forget password position styling */
.lupa {
  text-align: right;
}

/* styling forget password text */
.lupa a {
  margin-top: 20px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #01b0d9;

  text-decoration: none;
}

/* styling user agreement tick box on sign up page */
#main .agreement {
  margin-top: 30px;
  margin-left: 9px;

  /* styling text */
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #586a86;

  text-align: left;
}

/* styling user agreement linked text */
.agreement a {
  text-decoration: none;
  display: inline-block;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #01b0d9;
}

.checkbox {
  margin-top: 30px !important;
  width: 24px !important;
  height: 24px !important;
  color: #ccd3dd;
  text-align: right;
}

.modal-content {
  border-radius: 10px;
}

.snk {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

/* wrapping gender row in profile.html */
#gender {
  margin-top: 22px;
}

/* styling gender button */
#gender label {
  border-radius: 50px;
  width: 280px;
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #586a86;
  border-color: #ccd3dd;
}

/* gender button hover styling */
#gender label:hover {
  color: #ffffff;
  border-color: #094aa9;
  background-color: #094aa9;
}

/* gender button styling */
#gender label:visited {
  border-color: #094aa9;
  background-color: #094aa9;
}

#logo-gender {
  margin-right: 10px;
}

/* editing PROFILE unit style */
.unit {
  padding-right: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #586a86;

  background: white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-left-color: white;
}

/* removing unwanted vertical line besides PROFILE unit */
.position {
  border-right: none !important;
}

/* styling submit button */
#main .submit,
.submit-profile {
  width: 100%;
  border-radius: 50px;
  display: block;

  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 17px;
  background: #00b0d9;
  border-radius: 50px;

  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #ffffff;
}

/* styling submit button specific to PROFILE */
.submit-profile {
  margin-top: 50px;
  margin-bottom: 99px;
}

/* styling text below submit button */
.footer {
  margin-top: 30px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #586a86;
}

/* styling if design has to be followed class : footer login, login.html */
/* .login {
  margin-bottom: 206px;
} */

.signup {
  margin-bottom: 40px;
}

/* styling link below submit button */
.footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #00b0d9;

  margin-bottom: 40px;
}

/* styling right column illustration */
#right-illus {
  padding: 0;
  margin: 0;
  width: 705px;
  height: 1024px;
  padding-left: 150px;
  position: fixed;
  top: 0;
  right: 145px;
}
