body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
}

#main {
  margin: 0;
  padding-left: 135px;
  padding-right: 0;
}

/*top left conby logo positioning*/
#logo1 {
  width: 145px;
  height: 42px;
  margin-top: 29px;
}

/*left grid done*/
#main h1 {
  padding-top: 91px;

  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #0e2445;
}

/*left grid done*/
#main p {
  padding-top: 12px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #586a86;
}

/* button done */
#main .google {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: 1px solid #ccd3dd;
  border-radius: 50px;
  display: block;
  box-sizing: border-box;

  /* text styling inside button*/
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #0e2445;
}

/* placing google logo besides text inside button */
#logo2 {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

#divider {
  /* width: 100%; */
  padding-top: 25px;
  margin: 0;
  align-items: center;
}

/* styling text in the middle of divider */
#div-text {
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #586a86;
}

/* styling horizontal line */
hr {
  border: 1px solid #ccd3dd;
  border-radius: 3px;
}

/* styling labels */
.label {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #0e2445;
}

/* emphasizing requirements */
.required {
  color: #ed4242;
}

/* styling input box */
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;

  padding: 19px 30px;
  border: 1px solid #ccd3dd;
  box-sizing: border-box;
  border-radius: 50px;

  /* styling text inside input box */
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #586a86;
}

/* forget password position styling */
.lupa {
  text-align: right;
}

/* styling forget password text */
.lupa a {
  margin-top: 20px;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #01b0d9;

  text-decoration: none;
}

/* styling user agreement tick box on sign up page */
#main .agreement {
  margin-top: 30px;

  /* styling text */
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #586a86;

  text-align: center;
}

.agreement a {
  text-decoration: none;
  display: inline-block;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #01b0d9;
}

/* styling submit button */
#main .submit {
  width: 100%;
  border-radius: 50px;
  display: block;

  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 17px;
  background: #00b0d9;
  border-radius: 50px;

  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #ffffff;
}

/* styling text below submit button */
.footer {
  margin-top: 30px;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #586a86;
}

/* styling link below submit button */
.footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #00b0d9;

  margin-bottom: 40px;
}

/* login pic style */
#lg-login {
  padding: 0;
  margin: 0;
  width: 705px;
  height: 1024px;
  padding-left: 150px;
}
