body {
  overflow-x: hidden;
  font-family: 'Nunito Sans';
}

#filter {
  background-color: red;
  float: left;
  width: 25%;
}

#listdoc {
  background-color: royalblue;
  float: left;
  width: 25%;
}