body {
  overflow-x: hidden;
  font-family: "Nunito Sans";
  background-color: #f4f7fa;
}

.row {
  display: flex;
  margin-bottom: 75px;
}

.adjustment {
  padding: 0px;
}
/* payment.html styling */
.profcard {
  width: 310px;
  height: 275px;
  margin-left: 200px;
  margin-top: 60px;
  margin-bottom: 145px;
  text-align: center;

  background: #ffffff;
  border-radius: 10px;
}

.profcard > img {
  margin: 30px 106px 0px 104px;
}

.docname {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #000000;

  margin-top: 20px;
  margin-bottom: 10px;
}

#docprof {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #586a86;
}

.rating {
  margin-top: 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #586a86;
  margin-left: 11px;
}

.main {
  margin-top: 73px;
  margin-right: 175px;
  padding: 0;
}

.main > p {
  margin-bottom: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  color: #0e2445;
}

#description {
  width: 770px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #586a86;

  margin-top: 15px;
  margin-bottom: 30px;
}

.information {
  width: 770px;
  height: 502px;
  background: #ffffff;
  border-radius: 10px;

  margin-left: 0;
  padding: 0;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #586a86;

  margin-left: 30px;
  margin-bottom: 20px;
}

.details {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  justify-items: flex-end;

  color: #0e2445;
}

#dateNtime {
  margin-left: 15px;
}

.calendar {
  margin-left: 408px;
}

.clock {
  margin-left: 472px;
}

.header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #0e2445;

  margin-left: 30px;
  margin-bottom: 25px;
}

.accnum {
  width: 710px;
  height: 146px;
  left: 525px;
  top: 627px;

  background: #f4f7fa;
  border-radius: 10px;

  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#transferHeader {
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.banklogo {
  width: 65px;
  height: 24px;

  margin-left: 20px;
}

#co {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #586a86;

  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#accnum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  color: #0e2445;
}

.divider {
  border: 1px solid #ccd3dd;
  width: 710px;
  height: 0px;
  margin: 20px 30px;
}

.submit {
  width: 260px;
  height: 60px;

  background: #00b0d9;
  border-radius: 40px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;

  padding: 18px 32px 17px 33px;

  margin-top: 50px;
  margin-left: 510px;
}

.submit:hover {
  color: #ffffff;
}

.column {
  flex: 25%;
  margin-top: 50px;
}

#mainsection {
  padding-left: 125px;
  padding-top: 100px;
}

#mainsection h1 {
  font-size: 46px;
  font-weight: bolder;
  line-height: (65px * 104%);
}

#mainsection p {
  font-size: 20px;
  color: #586a86;
  line-height: (32px * 117%);
}

#mainsection button,
#ads button {
  color: #00b0d9;
  font-size: 18px;
  line-height: (25px * 100%);
  border-radius: 40px;
  width: 240px;
  height: 60px;
}

#docsection,
#whysection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 2em;
}

#rating {
  font-size: 14px;
  text-align: left;
  padding-left: 1.25em;
  padding-top: 1.25em;
  color: #586a86;
}

#docsection > div > img,
#whysection > div > img {
  padding-top: 0.75em;
  padding-bottom: 1em;
}

#docsection > div,
#whysection > div {
  background-color: #ffffff;
  width: 270px;
  height: 330px;
  margin: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

#whysection > div {
  margin-left: 50px;
  margin-right: 50px;
}

#ads {
  background-image: url("img/group 680.png");
  background-repeat: no-repeat;
  height: 362px;
  padding-left: 20em;
  padding-top: 3.25em;
}

#info h2 {
  color: white;
}

#info p {
  color: #c4cfdf;
}

#info a {
  color: #c4cfdf;
  padding: 0px;
}
